{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tbody>
          <tr>
                <th><h1 text-align:center position:top >Client n°{{ client.id }}</h1></th>
                <td></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
            </tr>
              <tr>
                <td><a class="btn btn-primary" href="{{ path('client_edit', {'id': client.id}) }}">edit</a></td>
                <td>{{ include('client/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
