{% extends 'base3.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(contactForm) }}
    <h1>Contacter nous</h1>
    {{ form_row(contactForm.nom) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.message) }}
    {{ form_end(contactForm) }}
{% endblock %}
