<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Accueil | BeInStyle</title>
    <link href="{{ asset("CSS/bootstrap.min.css")}}" rel="stylesheet">
    <link href="{{ asset("CSS/font-awesome.min.css")}}" rel="stylesheet">
    <link href="{{ asset("CSS/prettyPhoto.css")}}" rel="stylesheet">
    <link href="{{ asset("CSS/price-range.css")}}" rel="stylesheet">
    <link href="{{ asset("CSS/animate.css")}}" rel="stylesheet">
	<link href="{{ asset("CSS/main.css")}}" rel="stylesheet">
	<link href="{{ asset("CSS/responsive.css")}}" rel="stylesheet">
	<link href="{{ asset("CSS/am.css")}}" rel="stylesheet">
	
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
{% block stylesheets %}
        {% endblock %}
<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +221 776627801</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> senemouhamed02@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div  style="height:150px; width:150px; align="right">
							<ul class="nav navbar-nav">
                                <a style=color:black align:right   href="{{path('cart')}}">  <img class="im" alt="panier" src="{{ asset("img/panier2.jpg") }}" /> </a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a class="nav-link" href="">BeInStyle</a></li>
                                <li><a class="nav-link" href="{{ path('accueil1')}}">Accueil</a></li>
                                <li><a class="nav-link" href="{{path('contact')}}">Contacts</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
      <div class="container">
             {% block body %}
        {% endblock %}
      </div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	   <script src="{{ asset("js/jquery.js")}}"></script>
	<script src="{{ asset("js/bootstrap.min.js")}}"></script>
	<script src="{{ asset("js/jquery.scrollUp.min.js")}}"></script>
	<script src="{{ asset("js/price-range.js")}}"></script>
    <script src="{{ asset("js/jquery.prettyPhoto.js")}}"></script>
    <script src="{{ asset("js/main.js")}}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>