{% extends 'base.html.twig' %}

{% block title %}MesureFemme{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th> <h1>Mesure Client n°{{ mesure_femme.id }}</h1></th>
                <td></td>
            </tr>
            <tr>
                <th>Epaule</th>
                <td>{{ mesure_femme.epaule }}</td>
            </tr>
            <tr>
                <th>Mass_courte</th>
                <td>{{ mesure_femme.massCourte }}</td>
            </tr>
            <tr>
                <th>Mass_trois_quart</th>
                <td>{{ mesure_femme.massTroisQuart }}</td>
            </tr>
            <tr>
                <th>Mass_longue</th>
                <td>{{ mesure_femme.massLongue }}</td>
            </tr>
            <tr>
                <th>Tour_de_masse</th>
                <td>{{ mesure_femme.tourDeMasse }}</td>
            </tr>
            <tr>
                <th>Poitrine</th>
                <td>{{ mesure_femme.poitrine }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ mesure_femme.taille }}</td>
            </tr>
            <tr>
                <th>Ceinture</th>
                <td>{{ mesure_femme.ceinture }}</td>
            </tr>
            <tr>
                <th>Anche</th>
                <td>{{ mesure_femme.anche }}</td>
            </tr>
            <tr>
                <th>Longueur_blouse</th>
                <td>{{ mesure_femme.longueurBlouse }}</td>
            </tr>
            <tr>
                <th>Longueur_boubou</th>
                <td>{{ mesure_femme.longueurBoubou }}</td>
            </tr>
            <tr>
                <th>Longueur_jupe</th>
                <td>{{ mesure_femme.longueurJupe }}</td>
            </tr>
            <tr>
                <th>Longueur_pagne</th>
                <td>{{ mesure_femme.longueurPagne }}</td>
            </tr>
            <tr>
                <th>Longueur_robr_trois_quart</th>
                <td>{{ mesure_femme.longueurRobrTroisQuart }}</td>
            </tr>
            <tr>
                <th>Longueur_robe_longue</th>
                <td>{{ mesure_femme.longueurRobeLongue }}</td>
            </tr>
            <tr>
                <th>Jupe_courte</th>
                <td>{{ mesure_femme.jupeCourte }}</td>
            </tr>
            <tr>
                <th>Jupe_trois_quart</th>
                <td>{{ mesure_femme.jupeTroisQuart }}</td>
            </tr>
            <tr>
                <th>Jupe_longue</th>
                <td>{{ mesure_femme.jupeLongue }}</td>
            </tr>
        </tbody>
        <tr>
<th><a class="btn btn-primary" href="{{ path('mesure_femme_edit', {'id': mesure_femme.id}) }}">edit</a></th>

   <th> {{ include('mesure_femme/_delete_form.html.twig') }}</th>
        </tr>
    </table>
{% endblock %}
