{% extends 'base.html.twig' %}

{% block title %}SaModele{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr><th><h1 style="text-align:center">Sugnu Modéles<h1></th></tr>
            <tr>
                <th>Id</th>
                <td>{{ sa_modele.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ sa_modele.titre }}</td>
            </tr>
            <tr>
                <th>Descriptionmodele</th>
                <td>{{ sa_modele.descriptionmodele }}</td>
            </tr>
            <tr>
                <th>Imagaemodele</th>
                <td><img src="{{ asset('img/' ~ sa_modele.imagaemodele ) }}" ></td>
            </tr>
        </tbody>
        <tr>
        <th> <a class="btn btn-primary" href="{{ path('sa_modele_index') }}">Voir la liste</a></th>

   <th> <a href="{{ path('sa_modele_edit', {'id': sa_modele.id}) }}">Modifier</a></th>

   <th> {{ include('sa_modele/_delete_form.html.twig') }}</th>
   <tr>
    </table>
{% endblock %}
