{% extends 'base.html.twig' %}

{% block title %}MesureHomme{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tbody>
          <tr><th><h1>Mesures client n°{{ mesure_homme.id }}</h1></th><td></td></tr>
            <tr>
                <th>Epaul</th>
                <td>{{ mesure_homme.epaul }}</td>
            </tr>
            <tr>
                <th>Mass_courte</th>
                <td>{{ mesure_homme.massCourte }}</td>
            </tr>
            <tr>
                <th>Mass_long</th>
                <td>{{ mesure_homme.massLong }}</td>
            </tr>
            <tr>
                <th>Mass_trois_quart</th>
                <td>{{ mesure_homme.massTroisQuart }}</td>
            </tr>
            <tr>
                <th>Tourde_mass</th>
                <td>{{ mesure_homme.tourdeMass }}</td>
            </tr>
            <tr>
                <th>Poigner</th>
                <td>{{ mesure_homme.poigner }}</td>
            </tr>
            <tr>
                <th>Coup</th>
                <td>{{ mesure_homme.coup }}</td>
            </tr>
            <tr>
                <th>Poitrine</th>
                <td>{{ mesure_homme.poitrine }}</td>
            </tr>
            <tr>
                <th>Longueur_boub</th>
                <td>{{ mesure_homme.longueurBoub }}</td>
            </tr>
            <tr>
                <th>Demi_saison</th>
                <td>{{ mesure_homme.demiSaison }}</td>
            </tr>
            <tr>
                <th>Trois_quart</th>
                <td>{{ mesure_homme.troisQuart }}</td>
            </tr>
            <tr>
                <th>Ceinture</th>
                <td>{{ mesure_homme.ceinture }}</td>
            </tr>
            <tr>
                <th>Longueur_pantalon</th>
                <td>{{ mesure_homme.longueurPantalon }}</td>
            </tr>
            <tr>
                <th>Cuisse</th>
                <td>{{ mesure_homme.cuisse }}</td>
            </tr>
            <tr>
                <th>Anche</th>
                <td>{{ mesure_homme.anche }}</td>
            </tr>
        </tbody>
        <tr>
        <th> <a class="btn btn-primary" href="{{ path('mesure_homme_edit', {'id': mesure_homme.id}) }}">Modifier</a>  </th>
        <th> {{ include('mesure_homme/_delete_form.html.twig') }}</th>
    </table>
{% endblock %}
